services:
    _instanceof:
        Geocoder\Dumper\Dumper:
            tags: ['bazinga_geocoder.dumper']
            public: true

    Geocoder\Dumper\GeoArray: ~
    Geocoder\Dumper\GeoJson: ~
    Geocoder\Dumper\Gpx: ~
    Geocoder\Dumper\Kml: ~
    Geocoder\Dumper\Wkb: ~
    Geocoder\Dumper\Wkt: ~

    Bazinga\GeocoderBundle\ProviderFactory\:
        resource: '../../ProviderFactory'
        public: false
        autoconfigure: true

    Geocoder\ProviderAggregator:
        class: Geocoder\ProviderAggregator

    Bazinga\GeocoderBundle\Plugin\FakeIpPlugin:
        class: Bazinga\GeocoderBundle\Plugin\FakeIpPlugin
        arguments: ['127.0.0.1', ~]

    Bazinga\GeocoderBundle\Command\GeocodeCommand:
        arguments: ['@Geocoder\ProviderAggregator']
        tags: [{ name: 'console.command' }]

    Bazinga\GeocoderBundle\Validator\Constraint\AddressValidator:
        arguments: ['@geocoder']
        tags:
            - { name: 'validator.constraint_validator' }

    # Keep these aliases for BC purpose
    bazinga_geocoder.geocoder:
        alias: "Geocoder\\ProviderAggregator"

    geocoder:
        alias: "Geocoder\\ProviderAggregator"
