root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[.github/**/*.{yml,yaml}]
indent_size = 2

[*.{yml,yaml}]
trim_trailing_whitespace = false

[**.md]
indent_size = unset
indent_style = unset

[*.json]
insert_final_newline = false

[*.{neon,neon.dist}]
indent_style = tab
