parameters:
	paths:
		- %currentWorkingDirectory%
	excludePaths:
		- ./vendor/
		- ./Tests/
	level: 7
	ignoreErrors:
		-
			path: %currentWorkingDirectory%/DependencyInjection/Configuration.php
			message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::(end|variableNode)#'
		-
			path: %currentWorkingDirectory%/ProviderFactory/GeoIP2Factory.php
			message: '#has parameter \$config with no value type specified in iterable type array#'
