name: CI
on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    env:
      php-version: 8.5
    steps:
      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.php-version }}
          tools: flex

      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Install Composer dependencies"
        uses: "ramsey/composer-install@v3"
        with:
          composer-options: "--optimize-autoloader"

      - name: "Run PHPStan"
        run: |
          vendor/bin/simple-phpunit --version
          vendor/bin/phpstan analyse --no-progress

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    env:
      php-version: 8.5
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.php-version }}
          tools: flex, cs2pr

      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Install Composer dependencies"
        uses: "ramsey/composer-install@v3"
        with:
          composer-options: "--optimize-autoloader"

      - name: "Run PHP-CS-Fixer"
        run: vendor/bin/php-cs-fixer fix -v --dry-run --using-cache=no --format=checkstyle | cs2pr

  phpunit:
    name: PHPUnit (PHP ${{ matrix.php }}) (Symfony ${{ matrix.sf_version }})
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]
        sf_version: [ '6.4.*', '7.4.*' ]
        exclude:
          - php: '8.1'
            sf_version: '7.4.*'

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: flex
          coverage: none

      - name: "Install Composer dependencies"
        env:
          SYMFONY_REQUIRE: ${{ matrix.sf_version }}
        uses: "ramsey/composer-install@v3"
        with:
          composer-options: "--optimize-autoloader"

      - name: "Run tests"
        env:
          SYMFONY_DEPRECATIONS_HELPER: 'ignoreFile=./tests/baseline-ignore'
        run: ./vendor/bin/simple-phpunit -v
