name: CI
on: [push, pull_request]

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    phpstan:
        name: "PHPStan"
        runs-on: ubuntu-latest
        env:
            php-version: 8.1
        steps:
            - name: "Setup PHP"
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ env.php-version }}
                  tools: flex

            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: "Install Composer dependencies"
              run: |
                  composer install --prefer-dist --no-progress --no-interaction --optimize-autoloader

            - name: "Run PHPStan"
              run: |
                  vendor/bin/simple-phpunit --version
                  vendor/bin/phpstan analyse --no-progress

    php-cs-fixer:
        name: PHP-CS-Fixer
        runs-on: ubuntu-latest
        env:
            php-version: 8.1
        steps:
            - name: "Setup PHP"
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ env.php-version }}
                  tools: flex, cs2pr

            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: "Install Composer dependencies"
              run: |
                  composer install --prefer-dist --no-progress --no-interaction --optimize-autoloader

            - name: "Run PHP-CS-Fixer"
              run: vendor/bin/php-cs-fixer fix -v --dry-run --using-cache=no --format=checkstyle | cs2pr

    phpunit:
        name: "PHPUnit"
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 10
            fail-fast: true
            matrix:
                strategy: ['default']
                php: ['7.4', '8.0', '8.1', '8.2']
                include:
                    - php: '7.4'
                      sf_version: '5.4.*'
                      strategy: 'lowest'
                    - php: '8.0'
                      sf_version: '5.4.*'
                    - php: '8.1'
                      sf_version: '5.4.*'
                    - php: '8.0'
                      sf_version: '6.0.*'
                    - php: '8.1'
                      sf_version: '6.0.*'
                    - php: '8.2'
                      sf_version: '6.2.*'
        steps:
            - name: "Setup PHP"
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: flex
                  coverage: none

            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: "Install Composer dependencies (default)"
              if: matrix.strategy != 'lowest'
              env:
                  SYMFONY_REQUIRE: ${{ matrix.sf_version }}
              run: composer update --no-interaction --optimize-autoloader

            - name: "Install Composer dependencies (lowest)"
              if: matrix.strategy == 'lowest'
              env:
                  SYMFONY_REQUIRE: ${{ matrix.sf_version }}
              run: composer update --no-interaction --prefer-stable --prefer-lowest --optimize-autoloader

            - name: "Run tests"
              env:
                  SYMFONY_DEPRECATIONS_HELPER: 'max[self]=2'
              run: ./vendor/bin/simple-phpunit -v --testsuite main

    doctrine:
        name: "PHPUnit (Doctrine)"
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 10
            fail-fast: true
            matrix:
                php: ['7.4', '8.0', '8.1', '8.2']
                include:
                    - php: '7.4'
                      sf_version: '4.4.*'
                    - php: '7.4'
                      sf_version: '5.4.*'
                    - php: '8.0'
                      sf_version: '5.4.*'
                    - php: '8.1'
                      sf_version: '5.4.*'
                    - php: '8.0'
                      sf_version: '6.0.*'
                    - php: '8.1'
                      sf_version: '6.0.*'
                    - php: '8.2'
                      sf_version: '6.2.*'
        steps:
            - name: "Setup PHP"
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: flex
                  coverage: none

            - name: "Checkout code"
              uses: actions/checkout@v3

            - name: "Install Composer dependencies"
              env:
                  SYMFONY_REQUIRE: ${{ matrix.sf_version }}
              run: composer update --prefer-source --no-interaction --optimize-autoloader

            - name: "Run tests"
              env:
                  SYMFONY_DEPRECATIONS_HELPER: 'max[self]=2'
              run: ./vendor/bin/simple-phpunit -v --testsuite doctrine
